DATABASE_URL=postgresql://${DB_USER}:${DB_PASSWORD}@postgres:5432/${DB_NAME}
DIRECT_URL=${DATABASE_URL}

# Better Auth
BETTER_AUTH_SECRET="secret_key"
NEXT_PUBLIC_BASE_URL="http://localhost:3000"
BUILD_STANDALONE=true

DB_NAME=DB_NAME
DB_USER=DB_USER
DB_PASSWORD=DB_PASSWORD